<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>About page</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <h1>About {{firm}}!!</h1>
    <img src="/img/samsung_edge.jpg" alt="phone">

    </div>
    {{>footer}}
</body>
</html>