<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <script src="/JS/script.js" defer></script>
    <title>weather app</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Type the region(<span>country,city...</span>) and search to get weather!</p>
        <form class="weather-form">
            <input type="text" placeholder='Location'>
            <button class="search-place" type="submit">Search</button>
        </form>
        <p id="location"></p>
        <p id="forecast"></p>
    </div>

    {{>footer}}
</body>
</html>